.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
}
.container:focus {
  outline: none;
}
.highlight {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.image img {
  width: 100%;
  max-height: 100%;
}
.name {
  height: 120px;
  margin: 0px 5px;
}
.rating {
  height: 50px;
  margin-left: 5px;
}
.discount {
  height: 30px;
  align-self: flex-end;
  margin-right: 5px;
}
.price {
  height: 50px;
  align-self: flex-end;
  margin-right: 5px;
}
.action {
  height: 70px;
  align-self: center;
}
.tag {
  margin-left: 5px;
}
