<div *ngIf='product' class="container mat-card" matRipple [routerLink]="'/product/' + product.id"
  [ngClass]="{xsmall: size === 'xsmall', small: size === 'small', medium: size === 'medium', large: size === 'large', xlarge: size === 'xlarge'}">
  <div class="highlight">
    <div class="tag">
      <app-best-seller-tag class='best-seller' *ngIf='bestSeller'></app-best-seller-tag>
    </div>
    <app-favorite [id]='product.id' class='favorite'></app-favorite>
  </div>
  <div class="image"><img [src]='product.imageUrl' [alt]='product.name'></div>
  <div class='name' [title]='product.name'>{{ product.name | limit : limit }}</div>
  <div class="rating">
    <app-rating [rating]='rating' [reviews]='reviews '></app-rating>
  </div>
  <div class="discount">
    <app-discount *ngIf='discount' [id]='product.id'></app-discount>
  </div>
  <div class="price">
    <app-price [id]='product.id'></app-price>
  </div>
  <div class="action">
    <app-add-to-cart-button [id]='product.id'></app-add-to-cart-button>
  </div>
</div>
