.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
  align-items: flex-start;
}
.products {
  display: grid;
}
.section-title {
  font-size: large;
  text-align: center;
}
.xsmall {
  grid-template-columns: repeat(2, 50%);
  width: calc(100% - 30px);
  margin: 10px;
  column-gap: 10px;
  row-gap: 10px;
}
.small {
  grid-template-columns: repeat(2, 50%);
  width: calc(100% - 15px);
  margin: 5px;
  column-gap: 5px;
  row-gap: 5px;
}
.medium {
  grid-template-columns: repeat(2, 50%);
  width: calc(100% - 30px);
  margin: 10px;
  column-gap: 10px;
  row-gap: 10px;
}
.large {
  grid-template-columns: repeat(2, 50%);
  width: calc(100% - 30px);
  margin: 10px;
  column-gap: 10px;
  row-gap: 10px;
}
.xlarge {
  grid-template-columns: repeat(2, 50%);
  width: calc(100% - 30px);
  margin: 10px;
  column-gap: 10px;
  row-gap: 10px;
}
